Package: com.minazuki.lsclockposition
Name: LSClockPositon
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Change the location of the clock on the lock screen.
Depiction: https://minazukidev.github.io/html/LSClockPosition/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
